<Config>
  <AnalyticsEnabled>${RADARR__ANALYTICS_ENABLED}</AnalyticsEnabled>
  <ApiKey>${RADARR__API_KEY}</ApiKey>
  <AuthenticationMethod>${RADARR__AUTHENTICATION_METHOD:-External}</AuthenticationMethod>
  <AuthenticationRequired>${RADARR__AUTHENTICATION_REQUIRED:-0}</AuthenticationRequired>
  <BindAddress>*</BindAddress>
  <Branch>${RADARR__BRANCH}</Branch>
  <EnableSsl>False</EnableSsl>
  <InstanceName>${RADARR__INSTANCE_NAME}</InstanceName>
  <LaunchBrowser>False</LaunchBrowser>
  <LogLevel>${RADARR__LOG_LEVEL:-info}</LogLevel>
  <Port>${RADARR__PORT}</Port>
  <PostgresHost>${RADARR__POSTGRES_HOST}</PostgresHost>
  <PostgresLogDb>${RADARR__POSTGRES_LOG_DB}</PostgresLogDb>
  <PostgresMainDb>${RADARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresPassword>${RADARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>${RADARR__POSTGRES_PORT:-5432}</PostgresPort>
  <PostgresUser>${RADARR__POSTGRES_USER}</PostgresUser>
  <SslCertPassword></SslCertPassword>
  <SslCertPath></SslCertPath>
  <SslPort>6969</SslPort>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <UrlBase>${RADARR__URL_BASE}</UrlBase>
  <Theme>${RADARR__THEME:-auto}</Theme>
</Config>
