<Config>
  <LogLevel>${WHISPARR__LOG_LEVEL:-info}</LogLevel>
  <UrlBase>${WHISPARR__URL_BASE}</UrlBase>
  <Branch>${WHISPARR__BRANCH}</Branch>
  <ApiKey>${WHISPARR__API_KEY}</ApiKey>
  <AuthenticationMethod>${WHISPARR__AUTHENTICATION_METHOD:-None}</AuthenticationMethod>
  <AuthenticationRequired>${WHISPARR__AUTHENTICATION_REQUIRED}</AuthenticationRequired>
  <InstanceName>${WHISPARR__INSTANCE_NAME}</InstanceName>
  <PostgresUser>${WHISPARR__POSTGRES_USER}</PostgresUser>
  <PostgresPassword>${WHISPARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>${WHISPARR__POSTGRES_PORT:-5432}</PostgresPort>
  <PostgresHost>${WHISPARR__POSTGRES_HOST}</PostgresHost>
  <PostgresMainDb>${WHISPARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresLogDb>${WHISPARR__POSTGRES_MAIN_LOG}</PostgresLogDb>
  <Port>${WHISPARR__PORT}</Port>
  <BindAddress>*</BindAddress>
  <LaunchBrowser>False</LaunchBrowser>
  <EnableSsl>False</EnableSsl>
  <SslPort>6969</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>
