<Config>
  <LogLevel>${SONARR__LOG_LEVEL:-info}</LogLevel>
  <UrlBase>${SONARR__URL_BASE}</UrlBase>
  <Branch>${SONARR__BRANCH}</Branch>
  <ApiKey>${SONARR__API_KEY}</ApiKey>
  <AuthenticationMethod>${SONARR__AUTHENTICATION_METHOD:-External}</AuthenticationMethod>
  <AuthenticationRequired>${SONARR__AUTHENTICATION_REQUIRED:-DisabledForLocalAddresses}</AuthenticationRequired>
  <InstanceName>${SONARR__INSTANCE_NAME}</InstanceName>
  <PostgresUser>${SONARR__POSTGRES_USER}</PostgresUser>
  <PostgresPassword>${SONARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>${SONARR__POSTGRES_PORT:-5432}</PostgresPort>
  <PostgresHost>${SONARR__POSTGRES_HOST}</PostgresHost>
  <PostgresMainDb>${SONARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresLogDb>${SONARR__POSTGRES_LOG_DB}</PostgresLogDb>
  <Port>${SONARR__PORT}</Port>
  <BindAddress>*</BindAddress>
  <LaunchBrowser>False</LaunchBrowser>
  <EnableSsl>False</EnableSsl>
  <SslPort>6969</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <AnalyticsEnabled>${SONARR__ANALYTICS_ENABLED}</AnalyticsEnabled>
  <Theme>${SONARR__THEME:-auto}</Theme>
</Config>
