<Config>
  <LogLevel>${READARR__LOG_LEVEL:-info}</LogLevel>
  <UrlBase>${READARR__URL_BASE}</UrlBase>
  <Branch>${READARR__BRANCH}</Branch>
  <ApiKey>${READARR__API_KEY}</ApiKey>
  <AuthenticationMethod>${READARR__AUTHENTICATION_METHOD:-None}</AuthenticationMethod>
  <AuthenticationRequired>${READARR__AUTHENTICATION_REQUIRED}</AuthenticationRequired>
  <InstanceName>${READARR__INSTANCE_NAME}</InstanceName>
  <PostgresUser>${READARR__POSTGRES_USER}</PostgresUser>
  <PostgresPassword>${READARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>${READARR__POSTGRES_PORT:-5432}</PostgresPort>
  <PostgresHost>${READARR__POSTGRES_HOST}</PostgresHost>
  <PostgresMainDb>${READARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresLogDb>${READARR__POSTGRES_LOG_DB}</PostgresLogDb>
  <PostgresCacheDb>${READARR__POSTGRES_CACHE_DB}</PostgresCacheDb>
  <Port>${READARR__PORT}</Port>
  <BindAddress>*</BindAddress>
  <LaunchBrowser>False</LaunchBrowser>
  <EnableSsl>False</EnableSsl>
  <SslPort>6969</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <AnalyticsEnabled>${READARR__ANALYTICS_ENABLED}</AnalyticsEnabled>
  <Theme>${READARR__THEME:-auto}</Theme>
</Config>
