<Config>
  <LogLevel>${PROWLARR__LOG_LEVEL:-info}</LogLevel>
  <UrlBase>${PROWLARR__URL_BASE}</UrlBase>
  <Branch>${PROWLARR__BRANCH}</Branch>
  <ApiKey>${PROWLARR__API_KEY}</ApiKey>
  <AuthenticationMethod>${PROWLARR__AUTHENTICATION_METHOD:-External}</AuthenticationMethod>
  <AuthenticationRequired>${PROWLARR__AUTHENTICATION_REQUIRED:-0}</AuthenticationRequired>
  <InstanceName>${PROWLARR__INSTANCE_NAME}</InstanceName>
  <PostgresUser>${PROWLARR__POSTGRES_USER}</PostgresUser>
  <PostgresPassword>${PROWLARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>${PROWLARR__POSTGRES_PORT:-5432}</PostgresPort>
  <PostgresHost>${PROWLARR__POSTGRES_HOST}</PostgresHost>
  <PostgresMainDb>${PROWLARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresLogDb>${PROWLARR__POSTGRES_LOG_DB}</PostgresLogDb>
  <Port>${PROWLARR__PORT}</Port>
  <BindAddress>*</BindAddress>
  <LaunchBrowser>False</LaunchBrowser>
  <EnableSsl>False</EnableSsl>
  <SslPort>6969</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <AnalyticsEnabled>${PROWLARR__ANALYTICS_ENABLED}</AnalyticsEnabled>
  <Theme>${PROWLARR__THEME:-auto}</Theme>
</Config>
