{
  "alt-speed-down": ${TRANSMISSION_ALT_SPEED_DOWN:-50},
  "alt-speed-enabled": ${TRANSMISSION_ALT_SPEED_ENABLED:-false},
  "alt-speed-time-begin": ${TRANSMISSION_ALT_SPEED_TIME_BEGIN:-540},
  "alt-speed-time-day": ${TRANSMISSION_ALT_SPEED_TIME_DAY:-127},
  "alt-speed-time-enabled": ${TRANSMISSION_ALT_SPEED_TIME_ENABLED:-false},
  "alt-speed-time-end": ${TRANSMISSION_ALT_SPEED_TIME_END:-1020},
  "alt-speed-up": ${TRANSMISSION_ALT_SPEED_UP:-50},
  "bind-address-ipv4": "${TRANSMISSION_BIND_ADDRESS_IPV4:-0.0.0.0}",
  "bind-address-ipv6": "${TRANSMISSION_BIND_ADDRESS_IPV6:-::}",
  "blocklist-enabled": ${TRANSMISSION_BLOCKLIST_ENABLED:-true},
  "blocklist-url": "${TRANSMISSION_BLOCKLIST_URL:-http://john.bitsurge.net/public/biglist.p2p.gz}",
  "cache-size-mb": ${TRANSMISSION_CACHE_SIZE_MB:-4},
  "dht-enabled": ${TRANSMISSION_DHT_ENABLED:-true},
  "download-dir": "${TRANSMISSION_DOWNLOAD_DIR:-/downloads/complete}",
  "download-queue-enabled": ${TRANSMISSION_DOWNLOAD_QUEUE_ENABLED:-true},
  "download-queue-size": ${TRANSMISSION_DOWNLOAD_QUEUE_SIZE:-5},
  "encryption": ${TRANSMISSION_ENCRYPTION:-1},
  "idle-seeding-limit": ${TRANSMISSION_IDLE_SEEDING_LIMIT:-30},
  "idle-seeding-limit-enabled": ${TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED:-false},
  "incomplete-dir": "${TRANSMISSION_INCOMPLETE_DIR:-/downloads/incomplete}",
  "incomplete-dir-enabled": ${TRANSMISSION_INCOMPLETE_DIR_ENABLED:-true},
  "lpd-enabled": ${TRANSMISSION_LPD_ENABLED:-false},
  "message-level": ${TRANSMISSION_MESSAGE_LEVEL:-2},
  "peer-congestion-algorithm": "${TRANSMISSION_PEER_CONGESTION_ALGORITHM}",
  "peer-id-ttl-hours": ${TRANSMISSION_PEER_ID_TTL_HOURS:-6},
  "peer-limit-global": ${TRANSMISSION_PEER_LIMIT_GLOBAL:-200},
  "peer-limit-per-torrent": ${TRANSMISSION_PEER_LIMIT_PER_TORRENT:-50},
  "peer-port": ${TRANSMISSION_PEER_PORT:-51413},
  "peer-port-random-high": ${TRANSMISSION_PEER_PORT_RANDOM_HIGH:-65535},
  "peer-port-random-low": ${TRANSMISSION_PEER_PORT_RANDOM_LOW:-49152},
  "peer-port-random-on-start": ${TRANSMISSION_PEER_PORT_RANDOM_ON_START:-false},
  "peer-socket-tos": "${TRANSMISSION_PEER_SOCKET_TOS:-default}",
  "pex-enabled": ${TRANSMISSION_PEX_ENABLED:-true},
  "port-forwarding-enabled": ${TRANSMISSION_PORT_FORWARDING_ENABLED:-false},
  "preallocation": ${TRANSMISSION_PREALLOCATION:-1},
  "prefetch-enabled": ${TRANSMISSION_PREFETCH_ENABLED:-true},
  "queue-stalled-enabled": ${TRANSMISSION_QUEUE_STALLED_ENABLED:-true},
  "queue-stalled-minutes": ${TRANSMISSION_QUEUE_STALLED_MINUTES:-30},
  "ratio-limit": ${TRANSMISSION_RATIO_LIMIT:-2},
  "ratio-limit-enabled": ${TRANSMISSION_RATIO_LIMIT_ENABLED:-false},
  "rename-partial-files": ${TRANSMISSION_RENAME_PARTIAL_FILES:-true},
  "rpc-authentication-required": ${TRANSMISSION_RPC_AUTHENTICATION_REQUIRED:-false},
  "rpc-bind-address": "${TRANSMISSION_RPC_BIND_ADDRESS:-0.0.0.0}",
  "rpc-enabled": ${TRANSMISSION_RPC_ENABLED:-true},
  "rpc-host-whitelist": "${TRANSMISSION_RPC_HOST_WHITELIST}",
  "rpc-host-whitelist-enabled": ${TRANSMISSION_RPC_HOST_WHITELIST_ENABLED:-false},
  "rpc-password": "${TRANSMISSION_RPC_PASSWORD}",
  "rpc-port": ${TRANSMISSION_RPC_PORT:-9091},
  "rpc-url": "${TRANSMISSION_RPC_URL:-/transmission/}",
  "rpc-username": "${TRANSMISSION_RPC_USERNAME}",
  "rpc-whitelist": "${TRANSMISSION_RPC_WHITELIST}",
  "rpc-whitelist-enabled": ${TRANSMISSION_RPC_WHITELIST_ENABLED:-false},
  "scrape-paused-torrents-enabled": ${TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED:-true},
  "script-torrent-done-enabled": ${TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED:-false},
  "script-torrent-done-filename": "${TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME}",
  "seed-queue-enabled": ${TRANSMISSION_SEED_QUEUE_ENABLED:-false},
  "seed-queue-size": ${TRANSMISSION_SEED_QUEUE_SIZE:-10},
  "speed-limit-down": ${TRANSMISSION_SPEED_LIMIT_DOWN:-100},
  "speed-limit-down-enabled": ${TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED:-false},
  "speed-limit-up": ${TRANSMISSION_SPEED_LIMIT_UP:-100},
  "speed-limit-up-enabled": ${TRANSMISSION_SPEED_LIMIT_UP_ENABLED:-false},
  "start-added-torrents": ${TRANSMISSION_START_ADDED_TORRENTS:-true},
  "trash-original-torrent-files": ${TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES:-false},
  "umask": ${TRANSMISSION_UMASK:-2},
  "upload-slots-per-torrent": ${TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT:-14},
  "utp-enabled": ${TRANSMISSION_UTP_ENABLED:-true},
  "watch-dir": "${TRANSMISSION_WATCH_DIR:-/watch}",
  "watch-dir-enabled": ${TRANSMISSION_WATCH_DIR_ENABLED:-false},
  "watch-dir-force-generic": ${TRANSMISSION_WATCH_FORCE_GENERIC:-false}
}
