---
name: "Scheduled Release"

on:
  workflow_dispatch:
  schedule:
    # NOTE: The longest build for an app is ~1h30m
    # Keep this to run every 2 or more hours to prevent gremlins from spawning
    - cron: "0 */3 * * *"

env:
  TOKEN: ${{ secrets.TOKEN }}

jobs:
  generate-build-matrix:
    name: Generate matrix for building images
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.fetch.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install tools
        run: sudo apt-get install moreutils jo

      - name: Generate Token
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Fetch new app versions
        id: fetch
        run: ./.github/scripts/fetch.sh
        env:
          TOKEN: "${{ steps.generate-token.outputs.token }}"

  images-build:
    uses: onedr0p/containers/.github/workflows/action-image-build.yaml@main
    if: needs.generate-build-matrix.outputs.matrix != '[]'
    needs: ["generate-build-matrix"]
    with:
      imagesToBuild: "${{ needs.generate-build-matrix.outputs.matrix }}"
      pushImages: "true"
      updateMetadata: "true"
      sendNotification: "true"
    secrets: inherit
